@page
@model st10083262_cldv6211_poe_part_3.Pages.InspectorPages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Inspector</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Inspector.InspectorId" class="control-label"></label>
                <input asp-for="Inspector.InspectorId" class="form-control" />
                <span asp-validation-for="Inspector.InspectorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inspector.DetailId" class="control-label"></label>
                <select asp-for="Inspector.DetailId" class ="form-control" asp-items="ViewBag.DetailId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
